# fly.toml app configuration file generated for fly-lubien-glitchtip on 2025-11-22T16:00:48Z
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'fly-lubien-glitchtip'
primary_region = 'gru'

[http_service]
  internal_port = 8000
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

[[vm]]
  memory = '1gb'
  cpu_kind = 'shared'
  cpus = 1
  memory_mb = 1024
